* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.fas.blue {
    color: blue;
}
.fas.green {
    color: green;
}
.fas.orange {
    color: orange;
}